<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>

				Hey there <span class="wave" style="font-size: 2em;">👋</span>
				<!-- insert content of _index.md here -->
				{{ .Content }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
